
*{
    font-family: "Inter", sans-serif;
}

header {
    background-color: #FFF;
    margin: 0 0;
  }

body {
    background-color: #FFF;
    margin: 0 auto;
  }

/* Navigation Bar*/
.nav{
    width:auto;
    height: 95px;
    border: 1px solid red;
    text-align: center;
    display: flex;
    
  }

  /* Navigation Bar Styling */
.nav2{
    margin: auto;
    height: 95px;
    display: inline;
   
  }
  
.nav2 li{
   float: left;
   display: inline;
   margin: auto;
   color:#6F2A81;
   padding: 1em 1em;
   height: auto;
  }

.nav2 img{
    float: left;
    display: inline;
    width: 5em;
    margin: auto;
    position: relative;
    bottom: 1.5em; 
  }
  .nav3{
    float: right;
    display: inline;
    color:#6F2A81; 
    margin: auto 0;
    position: relative;
    right: 10%;
    
  }

  /*body content*/

  .infobar{
    width: 100%;
    height: 78px;
    background-color: #8B4799;
    color: white;
    font-size: 1.25em;
    text-align: center;
    display: flex;
  }

  .infobar p {
    margin: auto;
    
  }

  .skyline {
    background-image: url("../Images/Kyoto.png");
    width: 100%;
    height: 347px;
    border: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .skyline h1{
    color: #fff;
    font-size: 8rem;
    
  }
/* Section 1 */
  .section1{
    width: auto;
    height: 421px;
    display: flex;
  
  }

  .content {
    width: 50%;
    margin: auto;
  }

  #heading{
    font-size: 36px;
    color:#6F2A81;
  }
  
  .text{
    width: 362px;
    
    margin:auto;
  }


  #button{
    background-color: #6F2A81; 
  border: none;
  color: white;
  padding: .125rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2rem 0;

  }

 
.office_girl{
    float: right;
    height: 421px;
    width: 50%;
    background-image: url(../Images/istockphoto-1330249622-612x612\ 1.png);
    background-size: cover;
    
    
  }
  
/* section 2*/
  .section2{
    width: 100%;
    height: 421px;
    background-color: #8B4799;
    display: flex;
  }

  .office_girl2{
    float: left;
    height: 421px;
    width: 50%;
    background-image: url(../Images/sakuraco_japanese-woman-business-suit\ 1.png);
    background-size: cover;
    
  }

  .content2 {
    width: 50%;
    margin: auto;

  }

  #heading2{
    font-size: 36px;
    color:#fff;
  }
  
  .text2{
    width: 362px;
    color: #FFF;
    margin:auto;
   
  }


  #button2{
    background-color: #fff; 
  border: none;
  color: #000;
  padding: .125rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2rem 0;

  }
  

  /* footer content*/

  footer {
    height: 152px;
    width: 100%;
    background-color: #8B4799;
    
  }

  .address {
    float: left;
    color:#FFF;
    font-size: .75em;
    padding: 1.25em;
  }

  .socials{
    float: right;
    height: 33px;
    width: auto;
    padding: .75em;
    margin: 1.25em;
    position:relative;
    top: 4em;
    border: 1px red solid;
  }